.sign__box {
  display: flex;
  flex-direction: column;
}

.sign__title {
  padding-top: 30px;

  margin: 0 auto;

  font-size: 30px;
  font-weight: bold;

  color: black;
}

.sign__text {
  margin: 0 auto;

  font-size: 16px;

  color: gray;
}
