.button {
  height: 56px;
  width: 353px;

  border-radius: 12px;
}

.button-pink {
  background-color: #775ce5;

  color: white;
  font-size: 16px;
}

.button-white {
  background-color: white;

  border: 1px solid #775ce5;
  /* border: 1px solid #775ce5; */

  color: #775ce5;
  font-size: 16px;
}

.active {
  background-color: transparent;
  border: transparent;
  color: transparent;
}

.active:hover {
  opacity: 0.8;
}

.active:active {
  opacity: 0.4;
}

.passive {
  opacity: 50%;
  cursor: default;
}
