.input {
  padding: 16px 20px;
  border-radius: 12px;
  width: 351px;
}

.input:hover {
  background-color: #e9e8eb;
}

.focused {
  border: 1px solid #775ce5;
  border-radius: 12px;
}

.unfocused {
  border: 1px solid #e9e8eb;
  border-radius: 12px;
}
